@import 'vars';
@import 'global';


html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body{

}

.box{
    display: flex;
}

.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 25px;
    span{
        color: $red;
    }
}
.basket{
    margin-right: 20px;
}
.header__btn{
    color: #fff;
    font-size: 12px;
    padding: 4px; 
    border-radius: 4px;
    width: 72px;
    text-align: center;
    &-log{
        background-color: $green;
    }
    &-reg{
        margin-left: 7px;
        background-color: $red;
    }
}
.header__menu{
    background-color: $bg;
}
.menu{
    height: 60px;
    display: flex;
    align-items: center;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
        margin-left: 30px;
        }
    }
    a{
        color: #fff;
        font-size: 14px;
    }
}
.search{
    background-image: url(../images/search-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 533px;
    color: #fff;
    &__title{
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    &__text{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 55px;
        font-weight: 500;
    }
    &__form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            width: 100%;
            display: block;
            height: 56px;
            border-radius: 4px;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border: none; 
            padding: 0 60px 0 25px;
            outline: none;
            font-size: 14px;
            font-weight: 500;
            color: #90a4ae;
            &::placeholder{
                color: #90a4ae;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 16px;
            top: 18px;
        }
    }
}
.search__inner{
    padding-top: 155px;
    padding-bottom: 100px;
    text-align: center;
}
 
.products{
    padding: 100px 0;
    background-color: #f4f6f5;
    color: $bg;
    font-weight: 500;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        padding: 13px 21px;
        font-size: 14px;
        background-color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        & + button{
            margin-left: 6px;
        }
        &.mixitup-control-active{
            color: #fff;
            background-color: $red;
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products__item{
    max-width: 430px;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 30px;
        align-items: center;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        max-width: 310px;
    }
    &-title{
        font-size: 18px;
        display: block;
    }
    &-category{
        font-size: 14px;
        color: $green;
        display: block;
        margin-top: 6px;
    }
    &-price{
        font-size: 24px;
        font-weight: 700;
    }
    &-info{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
    }
    &-author{
        max-width: 245px;
        display: flex;
        align-items: center;
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 14px;
            background-repeat: no-repeat;
            display: inline-block;
            background-position: center;
            background-size: cover;
            display: inline-block;
        }
        span{
            font-size: 14px;
        }
    }
.product__item-star{
        font-size: 13px;
        span{
            color: $bg;
        }
    }
}
.products__bottom-btn{
    text-align: center;
    button{
        padding: 20px 30px;
        font-size: 16px;
        background-color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        & + button{
            margin: 45px 7px 0;
        }
        &.mixitup-control-active{
            color: #fff;
            background-color: $red;
        }
    }
}
.rate-star{
    display: inline-block;
    margin-right: 10px; 
}
.products__slider{
    padding: 120px 0;
    &-title{
        margin-bottom: 60px;
    }
    .slick-dots{
    text-align: center;
    li{
        display: inline-block;
        & + li{
        margin-left: 7px;
        }
        &.slick-active{
        button{
            background-color: $green;
        }
        }
        button{
        background-color: #d3d2d2;
        border-radius: 50%;
        border: none;
        outline: transparent;
        cursor: pointer;
        width: 20px;
        height: 20px;
        font-size: 0;
        }
    }
    }
}

.advantages{
    padding: 110px 0;
    background-color: $bg;
    &__title{
        color: #fff;
        margin-bottom: 80px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 370px;
        text-align: center;
        padding: 0 20px;
        &:hover{
            .advantages__item-img{
                background-color: $green;
                color: #e7ecf2;
            }
            .advantages__item-title{
                color: $green;
            }
            // .advantages__item-img{
            //     g{
            //         fill: #fff; Нужно вставить другой код SVG, чтобы изменить цвет.
            //     }
            // }
        }
        &-img{
            background-color: #fff;
            border-radius: 50%;
            width: 114px;
            height: 114px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            transition: all .3s;
            margin-bottom: 25px;
        }
        &-title{
            margin-bottom: 15px;
            font-size: 24px;
            line-height: 30px;
            font-weight: 500;
            color: #fff;
            transition: all .3s;
        }
        &-text{
            color: #b0bec5;
        }
    }
}
.icon-lock{
    width: 50px;
    &:hover{
        color: #e7ecf2;
    }
}
.icon-gift{
    width: 70px;
}
.icon-heart-o{
    width: 80px;
}

.author{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box{
        max-width: 650px;
        min-height: 215px;
        background-color: $green;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text{
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        margin-right: 45px;
        max-width: 270px;
        span{
            font-weight: 700;
        }
    }
    &__link{
        font-size: 18px;
        line-height: 36px;
        color: $bg;
        background-color: #fff;
        padding: 14px 40px;
    }
}